body {
    font-family: sans-serif;
    background-color: rgb(0, 48, 16);
}
header {
    background-color:#37DB79;
    padding: 1px 0px 1px 0px;
    border:double 10px #00B74A;
    border-radius: 10px;
}
header h1 {
    color: #228A4C	;
    font-size: 50px;
    text-align: center;
}
.img {
    font-size: 28px;
    text-align: center;
    background-color: #228A4C;
    color: #63DB93;
    border:double 10px #007730 ;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
}
main img {
    margin: 0px 10px 0px 10px;
    border: solid 10px #007730;
    border-radius: 10px;
}
.imgs {
    text-align: center;
}
